footer {
    p {
        color: #9f9f9f;
        font-size: 1.2rem;
    }
    ul {
        li {
            a {
                color: #9f9f9f;
                text-decoration: none;
                font-size: 1.2rem;
                &:hover {
                    color: darken(#9f9f9f, 10%);
                    text-decoration: none;
                }   
            }
        }
    }
}

