
  .sidebar {
    display: none;

  }


@media screen and (min-width: $screen-md) {
.sidebar {
  display: block;
  background: #000000;
  h3 { color: #ffffff; }
  padding-bottom: 20px;
  .nav-sidebar { margin-left: 10px; }
  li > a {
    color: #828282;
    font-size: 1.8rem;
    font-family: $headings-font-family;
    font-weight: 300;
    &:hover {
      background: transparent;
      color: lighten(#828282, 40%);
      text-decoration: underline;
    }
  }
}
}