#header {
	.logo {
	    background: #ff981f;
	    color: #ffffff;
	    height: 15.1rem;
	    h1 {
	      	font-size: 5.5rem;
	      	padding-top: 6rem;
	      	margin-top: 0;
	    } // end H1
	} // end Logo

	.navbar {
	    margin-bottom: 0;
	    &.navbar-default {
	      	background-color: transparent;
	      	border-color: transparent;
	    } // end &.navbar-default
	    li > a {
	      	padding: 0 20px;
	    }
	    .navbar-collapse {
	      	li > a {
	        	padding: 10px 20px;
	      	}
		}
	  } // ned .navbar
} // end #header

@media screen and (max-width: $screen-md-min) {
  	.nav { 
  		@include pull-left(); 
  	}
}