#carousel {
	.img-responsive {
	    width: 100%;
	  } // end .img-responsive
	
	.carousel-caption {
		width: 100%;
		right: 0;
		left: 0;
		text-align: right;
		padding-right: 125px;
		background: rgba(0, 0, 0, 0.5);
		bottom: 0px;
		h2 {
			font-size: 7rem;
			span {
				font-size: 4rem;
				color: #ffffff;
			} // span
		} // h2
	} // end .carousel-caption
} // end #carousel

@media screen and (max-width: $screen-md-min) {
	#carousel {
	    .carousel-caption {
	      	h2 {
	          	font-size: 4rem;
	          	span {
	            	font-size: 0.7em;
	            	color: #ffffff;
	          	} // end span
	      	}// end h2
	    } // end .carousel-caption

	    .carousel-indicators {
	      	margin-left: -23%;
	    }
	} // end #carousel
}