@import "bootstrap";


/* Custom style */
$small-padding-top	: 2.5rem;
$medium-padding-top	: 6rem;
$large-padding-top	: 9rem;

$small-margin-top	: 2.5rem;
$medium-margin-top	: 6rem;
$large-margin-top	: 9rem;

$black: #000000;

ul { list-style: none; }

hr { border-top: 1px solid $hr-border; }

.medium-text 	{ font-size: $font-size-large * 1.5; }
.large-text 	{ font-size: $font-size-large * 1.8; }

.small-padding-top  { padding-top 	: $small-padding-top; }
.medium-padding-top { padding-top 	: $medium-padding-top; }
.large-padding-top  { padding-top 	: $large-padding-top; }

.small-margin-top  	{ margin-top 	: $small-margin-top; }
.medium-margin-top 	{ margin-top 	: $medium-margin-top; }
.large-margin-top  	{ margin-top 	: $large-margin-top; }
.hide {display: none;}

@import "custom-header";
@import "custom-carousel";
@import "custom-info";
@import "custom-footer";
@import "custom-products";


