.body1{
    background: rgb(228, 225, 225);
    height: 93.6vh;
    padding-top: 2%;
}
.img1{
    border-radius: 40px;
}
.button{
    color: #FFFFFF;
    height: 50px;
    width: 150px;
    border-radius: 17.5px;
    background-color: #4A90E2;

    .button_text{
        font-size: 30px;
    }
}
.button1{
    color: #FFFFFF;
    height: 30px;
    width: 160px;
    border-radius: 17.5px;
    background-color: rgb(98, 162, 235);

    .button_text{
        font-size: 20px;
    }
}

  
 
  